[build]
  command = "npm run netlify:build"
  publish = ".next"

# Define environment variables for the build
[build.environment]
  NODE_VERSION = "18"
  PNPM_VERSION = "8.7.6"
  NPM_FLAGS = "--no-optional"
  NETLIFY_NEXT_SKIP_INSTALL = "1"
  SKIP_PRISMA_VALIDATION = "true"
  NETLIFY_USE_YARN = "true"

# Netlify production deployment settings
[context.production]
  environment = { NODE_ENV = "production" }

# Netlify development deployment settings
[context.branch-deploy]
  environment = { NODE_ENV = "production" }

# Netlify build plugins
[[plugins]]
  package = "@netlify/plugin-nextjs" 